body {
    background-color: rgb(157, 218, 193);
}

.forum-list-container {
    margin: auto;
}

.forum-list-container {
    margin-top: 20px;
    background-color: rgb(212, 247, 234);
}

.forum-title {
    margin-left: 25px
}

.forum-link {
    text-decoration: none;
}

.forum-link-item {
    background-color: rgb(195, 214, 214);
    border-color: rgb(212, 247, 234);
}

.options-link-item {
    background-color: rgb(157, 218, 193);
    border-color: rgb(157, 218, 193);
}

.form-login-register {
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    background-color:rgb(212, 247, 234);
}

.form-button {
    margin-top: 20px;
    background-color: rgb(110, 158, 138);
    border-color: rgb(110, 158, 138);
}

.bold-text {
    font-weight: bold;
}