body {
    background-color: rgb(157, 218, 193);
}

.forum-list-container {
    margin: auto;
}

.forum-list-container {
    margin-top: 20px;
    background-color: rgb(212, 247, 234);
}

.forum-title {
    margin-left: 25px
}

.forum-link {
    text-decoration: none;
    color: rgb(61, 90, 78);
}

.forum-link-item {
    background-color: rgb(195, 214, 214);
    border-color: rgb(212, 247, 234);
}

.options-link-item {
    background-color: rgb(157, 218, 193);
    border-color: rgb(157, 218, 193);
}

.form-login-register {
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    background-color:rgb(212, 247, 234);
}

.form-button {
    margin-top: 20px;
    background-color: rgb(110, 158, 138);
    border-color: rgb(110, 158, 138);
}

.bold-text {
    font-weight: bold;
}

.profile-picture {
    width: 60px;
}

.post-profile-name {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.post-list-title {
    text-align: center;
    
}

.post-list-thumbnail {
    width: 300px;
}

.forum-post {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);;
}

.op-username-thread {
    margin-left: 20px;
} 

.thumbnail-recommended {
    width: 100px;
}

.thread-main-picture {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
}

.artist-tag {
    background-color: rgb(151, 201, 201);
    padding: 3px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.other-tag {
    background-color: rgb(159, 201, 151);
    padding: 3px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.thread-follow-btn {
    margin-left: 40px;
    background-color: rgb(110, 158, 138);
    border-color: rgb(110, 158, 138);
}

.thread-follow-btn:hover {
    margin-left: 40px;
    background-color: rgb(62, 88, 77);
    border-color: rgb(62, 88, 77);
}

.comment-pfp {
    height: 60px;
}

.commentary-username {
    font-weight: bold;
    margin-left: 15px;
}

.commentary-body {
    margin-top: 15px;
}

.top-commentary {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: rgb(151, 211, 187);
}