@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@432&family=Shadows+Into+Light&display=swap');

body {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    background-color: rgb(157, 218, 193);
}

.forum-list-container {
    margin: auto;
    box-shadow: 2px 2px 0px 0px rgba(42, 51, 39, 0.7);
}

.forum-list-container {
    margin-top: 20px;
    background-color: rgb(212, 247, 234);
}

.forum-title {
    margin-left: 25px
}

.forum-link {
    text-decoration: none;
    color: rgb(61, 90, 78);
}

.forum-link-item {
    background-color: rgb(195, 214, 214);
    border-color: rgb(212, 247, 234);
}

.options-link-item {
    background-color: rgb(157, 218, 193);
    border-color: rgb(157, 218, 193);
}

.form-login-register {
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    background-color:rgb(212, 247, 234);
}

.form-button {
    margin-top: 20px;
    background-color: rgb(110, 158, 138);
    border-color: rgb(110, 158, 138);
}

.bold-text {
    font-weight: bold;
}

.profile-picture {
    width: 60px;
}

.post-profile-name {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.post-list-title {
    text-align: center;
    
}

.post-list-thumbnail {
    width: 300px;
}

.forum-post {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);;
}

.op-username-thread {
    margin-left: 20px;
} 

.thumbnail-recommended {
    width: 100px;
}

.thread-main-picture {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
}

.artist-tag {
    background-color: rgb(151, 201, 201);
    padding: 3px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.other-tag {
    background-color: rgb(159, 201, 151);
    padding: 3px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.thread-follow-btn {
    margin-left: 40px;
    background-color: rgb(110, 158, 138);
    border-color: rgb(110, 158, 138);
}

.published-date-label {
    font-style: italic;
    color: rgba(42, 51, 39, 0.7);
}

.thread-follow-btn:hover {
    margin-left: 40px;
    background-color: rgb(62, 88, 77);
    border-color: rgb(62, 88, 77);
}

.comment-pfp {
    border-style: solid;
    border-color: rgba(42, 51, 39, 0.7);;
    height: 60px;
}

.commentary-username {
    font-weight: bold;
    margin-left: 15px;
}

.commentary-body {
    margin-top: 15px;
}

.exact-active .commentary-username-handle {
    text-decoration: none;
}
.commentary-username-handle {
    margin-left: 1rem;
    color: rgb(33, 44, 40);
}

.top-commentary {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: rgb(151, 211, 187);
    box-shadow: 2px 2px 0px 0px rgba(42, 51, 39, 0.7);
}